<div>
  Users List:
</div>
<table cellpadding="0" cellspacing="0" width="100%" id="users_list">
  <tr class="table_heading">
    <th>S.No</th> <th>User Name</th> <th>Role</th><th  >Actions</th>
  </tr>
  <%  User.all.each_with_index do |u,i| %>
  <tr class="<%= cycle("trodd","treven") %>">
    <td style="border-left: 1px solid #bfbfc0;"><%=i+1%></td><td><%= link_to u.first_name.capitalize, admin_user_path(u.id)%></td><td><%= u.role%></td><td style="border-right: 1px solid #bfbfc0;"><%= link_to image_tag("/assets/edit_profile_button.png"), edit_admin_user_path(u.id) %><%= link_to image_tag("/assets/delete2.png"), admin_user_path(u.id),:method=>:delete,:confirm=>"Are you sure you want to delete user?" %></td>
  </tr>  
<% end %>
  <tr class="last_row"><td colspan="5"></td></tr>
</table>
